[user]
	email = gasper.spagnolo@outlook.com
    name = Gašper Spagnolo

[alias]
    ci = commit
    co = checkout
    cp = cherry-pick
    s = status -uall
    br = branch
    aliases = !git config -l | grep alias | cut -c 7-
    hist = log --pretty=format:'%C(yellow)%h%Creset%C(auto)%d - %s %Cblue[%an]' --graph --date=short --decorate --branches --remotes --tags
    # https://stackoverflow.com/questions/10622179/
    blobs =  !git rev-list --objects --all | git cat-file --batch-check='%(objecttype) %(objectname) %(objectsize) %(rest)' | sed -n 's/^blob //p' | sort --numeric-sort --key=2 | cut -c 1-12,41- | $(command -v gnumfmt || echo numfmt) --field=2 --to=iec-i --suffix=B --padding=7 --round=nearest
